
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background-color: #dadada;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
width: 80%;
max-width: 800px;
background-color: rgb(236, 201, 172);
padding: 20px;
border-radius: 8px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header {
text-align: center;
margin-bottom: 30px;
}

header h1 {
color: hsl(211, 57%, 30%);
font-size: 36px;
}

header p {
color: #666;
font-size: 16px;
margin-top: 8px;
}

.upload-section, .file-list {
margin-bottom: 20px;
}

h2 {
color: #333;
margin-bottom: 10px;
font-size: 22px;
}

.file-input {
display: block;
margin-bottom: 10px;
padding: 8px;
width: 100%;
border-radius: 4px;
border: 1px solid #ccc;
}

button {
background-color: hsl(211, 57%, 30%);
color: white;
border: none;
padding: 10px 20px;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #218838;
}

.file-list ul {
list-style-type: none;
}

.file-list li {
background-color: #f8f9fa;
padding: 10px;
margin-bottom: 8px;
border-radius: 4px;
display: flex;
justify-content: space-between;
align-items: center;
}

.file-list li a {
text-decoration: none;
color: #007bff;
}

.file-list li a:hover {
text-decoration: underline;
}

